.footer p{
  font-size: 15px;
  color: white;
  font-weight: 400;
  line-height: 2;
  margin: 0 0 15px 0;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
ul{
  padding-left: 0;
}

input:focus{
  outline: none;
}
a:hover,
a:focus{
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

.footerrow{
  padding: 15px;
}
.footer{
  background: #001d3d;
}
.footer-about{
  margin-bottom: 30px;
}
.footer-about .footer-logo{
  margin-bottom: 30px;
}
.footer-about p{
  color: white;
  margin-bottom: 30px;
}
.fotcol{
  margin-bottom: 20px;
}
.footer-widget h6{
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.footer-widget ul li{
  line-height: 36px;
  list-style: none;
  color: white;
}
.footer-widget ul li a{
  color: white;
  font-size: 15px;
}

.footer-widget .footer-newslatter p{
  color: white;
}
.footer-widget .footer-newslatter form{
  position: relative;
}
.footer-widget .footer-newslatter form input{
  width: 100%;
  font-size: 15px;
  color: white;
  background: transparent;
  border: none;
  padding: 15px 0;
  border-bottom: 2px solid white;
}
.footer-widget .footer-newslatter form input::placeholder{
  color: white;
}
.footer-widget .footer-newslatter form button{
  color: white;
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
  background: transparent;
  border: none;
}
.footer-copyright-text{
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  margin-top: 40px;
}
.footer-copyright-text p{
  color: white;
  margin-bottom: 0;
}

.sm{
  color: white;
  margin:0 5px 5px 0;
  font-size: 19px;
}