
.herobillede {
	width:100%;
	height: 30vh;
	background: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
}
.koncon{
	background: #001d3d;
}
.imgover{
	color: white;
}

.contact-section h1{
	color: #ddd;
}
.border{
	width: 100px;
	height: 10px;
	background: #48CAE4;
	margin: 40px auto;
}

.contact-form{
	max-width: 600px;
	padding: 0 10px;
	overflow: hidden;
	margin-bottom: 80px;
}

.contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	padding: 20px 20px;
	outline: none;
	color: black;
	transition: 0.5s;
	font-size: 14px;
}

textarea.contact-form-text{
	resize: none;
	height: 120px;
}
.contact-form-btn{
	border: 0;
	background: #48CAE4;
	color: #fff;
	padding: 12px 50px;
	border-radius: 100px;
	cursor: pointer;
	transition: 0.5s;
	margin-top: 5px;
}
.contact-form-btn:hover{
	background: lightblue;
}
.infotekst{
	padding: 20px;
	line-height: 2;
	font-size: 32px;
	color: white;
}
.infotekst2{
	line-height: 2;
	color: white;

}
.infoteks3{
	line-height: 2;
	text-decoration: none;
	color: white;
}

.infoteks3:hover{
	color: white;
}
.infoover{
	padding: 20px;
	font-size: 20px;
	text-align: center;
	color: white;
}

.åbenover{
	padding: 20px;
	font-size: 20px;
	text-align: center;
	color: white;
	margin-top: 60px;
}

.åbentekst{
	color: white;
	margin-top: 30px;
}

.line2{
	margin: auto;
	background-color: #abbdbf;
	height: 1px;
	width: 35%;
	text-align: center;
}
.line3{
	margin: auto;
	background-color: #abbdbf;
	height: 1px;
	width: 35%;
	text-align: center;
}


.ksektekst{
	padding: 15px;
	line-height: 2;
	font-size: 14px;
	color: white;
	margin-top: 10px;
}

.ksekover{
	padding: 15px;
	font-size: 20px;
	color: white;
	margin-top: 50px;
	margin-bottom: -10px;
}

.sektion2{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 60px;

}

.line1{
	margin: 15px;
	background-color: #abbdbf;
	height: 1px;
	width: 50%;

}

.googlemap{
	margin-bottom: -150px;
	margin-top: -140px;
	z-index: -100;
	position: relative;
}


@media screen and (min-width: 768px){
	.googlemap{
		margin-bottom: -160px;
		margin-top: -260px;
	}
	.contact-form{
		padding: 0 60px;
		max-width: 700px;
	}
	.åbenover{
		margin-top: 70px;
		font-size: 24px;
	}
	.infoover{
		font-size: 24px;
	}
	.ksektekst{
		padding: 60px;
		font-size: 15px;
		margin-bottom: -30px;
		margin-top: -20px;
	}
	.ksekover{
		font-size: 24px;
		padding: 60px;
		text-align: left;
		margin-bottom: -20px;
	}
	.line1{
		margin: 0 60px;
		width: 30%;
	}
	.infotekst{
		margin-top: 30px;
	}

	.sektion2{
		text-align: center;
		margin-top: 60px;
		margin-bottom: 90px;
	}


}

@media screen and (min-width: 1024px){
	.googlemap{
		margin-bottom: -230px;
		margin-top: -370px;
	}
	.contact-form{
		padding: 0 60px;
		max-width: 800px;
	}
	.sektion2{
		text-align: center;
		margin-top: 90px;
	}
	.ksektekst{
		padding: 60px;
		font-size: 16px;
		width: 85%;
	}
	.ksekover{
		margin-bottom: -30px;
		padding: 60px;
		font-size: 24px;
	}
	.line1{
		margin: 0 60px;
		width: 20%;
	}

}
.curved-div {
	background: #001d3d;
	color: #FFF;
	text-align: center;
}
.curved-div h1 {
	font-size: 6rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.curved-div p {
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}